* {
    font-family:   Source Code Pro, Arial, Sans;
    font-size:     14px;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(40, 42, 54, 0.3);
}

window#waybar.solo {
    background: rgba(40, 42, 54, 0.85);
}

window#waybar {
    background: rgba(40, 42, 54, 0.7);
}

#workspaces {
    margin-left: 12px;
    border-radius: 0px;
    background: transparent;
}
#workspaces button {
    padding: 0 2px;
    color: #fdf6e3;
}
#workspaces button.focused {
    color:  #CCC;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    border-color: #2E3440;
    background: #2E3440;
}

#network {
    padding: 0 5px;
    font-weight: bold;
}

#pulseaudio {
    background: rgba(35, 131, 32, 0.3);
    margin: 0 10px;
}

#disk {
    margin: 0 10px;
    padding: 0 10px;
    font-weight: bold;
}

#clock {
    margin: 0 10px;
    padding: 0 16px;
    min-width:  80px;
    font-weight: bold;
}
